<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>GetOneProductController</display-name>
    <servlet-name>GetOneProductController</servlet-name>
    <servlet-class>com.controller.GetOneProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOneProductController</servlet-name>
    <url-pattern>/GetOneProductController</url-pattern>
  </servlet-mapping>
  <display-name>DWES2324_Practica3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListProductsController</display-name>
    <servlet-name>ListProductsController</servlet-name>
    <servlet-class>com.controller.ListProductsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductsController</servlet-name>
    <url-pattern>/ListProductsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductController</display-name>
    <servlet-name>DeleteProductController</servlet-name>
    <servlet-class>com.controller.DeleteProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductController</servlet-name>
    <url-pattern>/DeleteProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateProductController</display-name>
    <servlet-name>CreateProductController</servlet-name>
    <servlet-class>com.controller.CreateProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProductController</servlet-name>
    <url-pattern>/CreateProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductController</display-name>
    <servlet-name>UpdateProductController</servlet-name>
    <servlet-class>com.controller.UpdateProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductController</servlet-name>
    <url-pattern>/UpdateProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
</web-app>